

#breadcrumb {
  background-color: midnightblue;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
  height: 40px;
  padding: 6px 0;
}

.breadcrumb-item.active {
  color: whitesmoke;
}

#coins {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  column-gap: 25px;
  margin: 5px auto;
  padding-bottom: 5px;

}

#coins h5{
  font-size: 1rem;
}

#coins p {
  font-size: 0.675rem;
}


